---
import Layout from "../layouts/Layout.astro";
import experience from "../json/Experience";
import ExperienceCard from "../components/ExperienceCard";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="font-bold text-4xl text-center m-4">Experience</div>
    <div class="text-center m-4">
      Here is the full list of my work and university experience
    </div>
    <div class="flex justify-center">
      <div class="flex flex-col-reverse space-y-8 space-y-reverse my-8">
        {
          experience.map((eachExperience) => {
            return (
              <div>
                <ExperienceCard
                  company={eachExperience.company}
                  jobTitle={eachExperience.title}
                  years={eachExperience.dates}
                  description={eachExperience.description}
                  chips={eachExperience.chips}
                  key={`${eachExperience.company}-${eachExperience.title}`}
                />
              </div>
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>
