---
import Layout from "../layouts/Layout.astro";
import ContactChip from "../components/ContactChip";
import ExperienceSlab from "../components/ExperienceSlab";
import ProjectSlab from "../components/ProjectSlab";

const ExperienceInfo = [
  {
    category: "Work Experience",
    company: "CrossBorder Solutions",
    title: "Software Engineering Intern",
    dates: "June 2021 – Aug. 2022 ",
    description:
      "Collaborated with two interns to create a web-based change data capture application with AWS Lambda. Devised responsive React-based user interface with query capabilities using Material UI and React Redux. Built five components with documentation and Jest tests for internal front-end framework",
    chips: ["React", "MaterialUI", "AWS Lambda"],
  },
  {
    category: "Work Experience",
    company: "Becton Dickinson",
    title: "Software Engineering Intern",
    dates: "May 2023 - Aug. 2023",
    description:
      "Deployed OpenEMR onto Microsoft Azure and created Postman scripts to create API client and queries. Researched open-source libraries and created SMART on FHIR applications with Single-Sign-On capabilities. Developed and presented proof-of-concept of standalone application using OpenSearch to development team",
    chips: ["Azure", "OpenSearch", "Postman", "Node.JS"],
  },
];

const ProjectInfo = [
  {
    title: "Mockly",
    technology: ["Node.js", "React", "Docker"],
    subheader: "Software Design and Architecture Final Group Project",
    description:
      "Service Oriented Architecture based web applications where users can sign up to prepare for up-coming interviewers. Users can input their payment information and be paid to be a mock interviewer for other users. Uses Google Meets API to help facilitate interviews with an optional feedback service to rate interviewers / interviewees",
    demoLink: "",
    githubLink: "https://github.com/cmusv-sasd/SDA-S2023-T8-mockly",
    images: [],
  },
  ,
  {
    title: "WellNest",
    technology: ["React", "Figma", "Material UI", "Tailwind"],
    subheader:
      "Software Requirements and Interaction Design Group Final Project",
    description:
      "WellNest is your all-in-one solution to bridge the gap between mental health awareness, prevention, and treatment. Especially, if you are a young professional! Contains a mock feature to simulate matching with a therapist and simulate Google Workspace + Google Meetings integration. Has a feature to help track your mood via journalling. Contains mock feature to play games to earn rewards",
    demoLink: "",
    githubLink: "https://github.com/WinexWolf/WellNestApp",
    images: [],
  },
  {
    title: "Hextech",
    technology: ["Next.js", "Tailwind"],
    subheader: "League of Legends Build Analyzer",
    description:
      "Personal project to work with Riot API + DataDragon API. Shows changes to champion statistics and abilities depending on item builds ",
    demoLink: "",
    githubLink: "https://github.com/GordonLei/Hextech",
    images: [],
  },
];
---

<Layout title="Welcome to Gordon Lei's portfolio">
  <main>
    <!-- 
    <div>
      <div class="font-bold text-4xl text-center m-4 mt-16">
        Yahallo, I'm Gordon Lei
      </div>
      <div class="text-center m-4">
        I build engaging Web Applications to help aid users find desired
        information and results
      </div>
    </div>
  -->
    <div class="flex flex-row h-[calc(100vh-65px)]">
      <!-- This div is the name section -->
      <div
        class="w-1/3 h-full overflow-hidden flex flex-col flex-grow bg-blue-400"
      >
        <div class="flex flex-col">
          <div>Gordon Lei</div>
          <div>Looking for full time offers</div>
          <div>
            I build engaging Web Applications to help aid users find desired
            information and results
          </div>
          <!-- Contact Bar -->
          <div class="flex flex-row">
            <ContactChip imageSrc="/img/favicons/email.png" imageAlt="e-mail" />
            <ContactChip
              imageSrc="/img/favicons/LI-In-Bug.png"
              imageAlt="linkedin"
              link="https://www.linkedin.com/in/gordon-lei-a1b238181/"
            />
            <ContactChip
              imageSrc="/img/favicons/github.png"
              imageAlt="github"
              link="https://github.com/GordonLei"
            />
          </div>
        </div>
      </div>
      <!-- This div is the content section -->
      <div class="w-2/3 bg-gray-50 max-h-screen overflow-y-auto">
        <!-- Start of the Info -->
        <div class="flex flex-col">
          <!-- About -->
          <div class="flex flex-col">
            <p class="font-bold">About</p>
            <p class="font-semibold">Yahallo!</p>
            <p>
              My name is Gordon Lei. During 8th grade, I fell in love with
              creating simple applications such as the "Counting to 24" math
              game on something that was tangental to computer science but key
              to any student's toolkit: a TI-84 graphing calculator. From
              creating such applets I fell in love with programming as anything
              I imagined could be created if I put my heart and time into it.
            </p>
            <p>
              Fast forward to today, my love for programming had led me to
              graduate from CMU with a Masters of Science in Software
              Engineering as well as graduated from NYU with a Bachelors of
              Science in Computer Science. I have helped create potential
              inhouse tools and front-end frameworks during my internship at
              CrossBorder Solutions and have deployed proof-of-concepts on the
              cloud during my internship at Becton Dickinson.
            </p>
            <p>
              If I am not working on school work or personal projects, I am
              usually pursuing my passion of photography, hanging out with
              friends, or on the Rift.
            </p>
          </div>
          <!-- Experience -->
          <div class="flex flex-col">
            <p class="font-bold">Experiences</p>
            <p>A full list of my experiences can be found via the NavBar</p>
            <div class="flex flex-col-reverse space-y-8 space-y-reverse my-8">
              {
                ExperienceInfo.map((eachExperience) => {
                  return (
                    <div>
                      <ExperienceSlab
                        company={eachExperience.company}
                        jobTitle={eachExperience.title}
                        years={eachExperience.dates}
                        description={eachExperience.description}
                        chips={eachExperience.chips}
                        key={`${eachExperience.company}-${eachExperience.title}`}
                      />
                    </div>
                  );
                })
              }
            </div>
          </div>
          <!-- Projects -->
          <div class="flex flex-col">
            <p class="font-bold">Projects</p>
            <p>A full list of my projects can be found via the NavBar</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
