---
import Layout from "../layouts/Layout.astro";
import WIPProjects from "../json/WIP";
import CompletedProjects from "../json/Completed";
import ProjectCard from "../components/ProjectCard";
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <div>
        <div class="font-bold text-4xl text-center m-4">WIP Projects</div>
        <div class="text-center m-4">
          Here is the list of projects I am currently working on
        </div>
        <div class="grid grid-cols-2 justify-items-center">
          {
            WIPProjects.toReversed().map((eachProject) => {
              return (
                <div class="">
                  <ProjectCard
                    projectName={eachProject.title}
                    subheader={eachProject.subheader}
                    description={eachProject.description}
                    demoLink={eachProject.demoLink}
                    githubLink={eachProject.githubLink}
                    images={eachProject.images}
                    chips={eachProject.technology}
                    key={`${eachProject.title}`}
                    client:only="react"
                  />
                </div>
              );
            })
          }
        </div>
      </div>
      <div>
        <div class="font-bold text-4xl text-center m-4">Completed Projects</div>
        <div class="text-center m-4">
          Here is the list of projects I have completed and/or worked on
        </div>
        <div class="grid grid-cols-2 justify-items-center">
          {
            CompletedProjects.toReversed().map((eachProject) => {
              return (
                <div class="">
                  <ProjectCard
                    projectName={eachProject.title}
                    subheader={eachProject.subheader}
                    description={eachProject.description}
                    demoLink={eachProject.demoLink}
                    githubLink={eachProject.githubLink}
                    images={eachProject.images}
                    chips={eachProject.technology}
                    key={`${eachProject.title}`}
                    client:only="react"
                  />
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
